.scheduler-dashboard {
    text-align: center;
    padding: 20px;
    position: relative;
}

.overcrowding-button{
    color:white;
    background-color: #f44336;
}

.logout-button{
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px 20px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.create-schedule-button, .absent-input-container button, .route-input-container button, .ml-redesign-button {
    padding: 10px 20px;
    margin: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.ml-redesign-button{
    
    background-color:  #3aa53e !important;
}
.absent-input-container button{
    background-color: #2196F3;
}


.ml-redesign-button {
    background-color: #2196F3; /* Different color for ML redesign button */
}

.absent-input-container, .route-input-container {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.absent-input-container input, .route-input-container input {
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.popup-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

.popup {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 20px;
    max-width: 800px;
    max-height: 80vh;
    overflow-y: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
}

.popup-buttons-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.schedule-table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

.schedule-table th {
    background-color: #f0f0f0;
    font-weight: bold;
    color: black !important;
}

.schedule-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    color: black;
}

.route-schedule-container {
    margin-top: 20px;
}

h1 {
    margin-bottom: 20px;
    color: black;
}

.popup p {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
    color: black;
}

.route-id-headline {
    color: black;
}
