/* src/components/Auth/Login.css */
body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center;     /* Center vertically */
  height: 100vh;           /* Full height of the viewport */
}
.login-container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: white; /* Optional */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Optional */
}

.login-container h2 {
  text-align: center;
}

.login-container input,
.login-container select,
.login-container button {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; /* Ensure padding doesn't affect width */
}

.login-container button {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.login-container button:hover {
  background-color: #0056b3;
}
  